{{{ _editable }}}

<div class="section-block"></div>

<!-- ================================
       START FOOTER AREA
================================= -->
<section class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-item">
                    <div class="logo">
                        <a href="index.html" class="foot-logo"><img src="/images/drc_logo_grey.png" alt="logo"></a>
                    </div><!-- end logo -->
                    <p class="footer__desc">
                        Building F 3rd Floor, Faculty of Law <br>
                        University of Indonesia, Depok - 16424
                    </p>
                    <div class="footer-contact">
                        <p class="contact__text">
                            <span class="contact__text-title font-weight-medium text-black-50">Phone:</span> 021-7884-9083 <br>
                            <span class="contact__text-title font-weight-medium text-black-50">Email:</span>
                            <a href="mailto:info123@prizon.com">drc-law@ui.ac.id</a>
                        </p>
                    </div>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="footer-item">
                    <h4 class="footer__title">About Us</h4>
                    <div class="section-divider"></div>
                    <ul class="user-links">
                        <li><a href="#">Background</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Commentary</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-2 col-sm-6">
                <div class="footer-item">
                    <h4 class="footer__title">Links</h4>
                    <div class="section-divider"></div>
                    <ul class="user-links">
                        <li><a href="#">Vacancies</a></li>
                        <li><a href="#">Special Units</a></li>
                        <li><a href="#">News & Events</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-2 -->
            <div class="col-lg-2 col-sm-6">
                <div class="footer-item">
                    <h4 class="footer__title">Social Media</h4>
                    <div class="section-divider"></div>
                    <ul class="social-profile pt-4">
                        <li><a href="https://web.facebook.com/djokosoetono.fhui.1?_rdc=1&_rdr"><i class="lab la-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/drcfhui"><i class="lab la-twitter"></i></a></li>
                        <li><a href="https://instagram.com/drcfhui"><i class="lab la-instagram"></i></a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-2 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="copy-right">
                    <p class="copy__desc">
                        &copy; Copyright Djokosoetono Research Center 2020.
                    </p>
                    <ul class="condition-links">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div><!-- end copy-right -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end footer-area -->
<!-- ================================
       START FOOTER AREA
================================= -->
<!-- start scroll top -->
<div id="scroll-top">
    <i class="la la-angle-up" title="Go top"></i>
</div>

<!-- end scroll top -->
<!-- theme js files -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/waypoint.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/progresscircle.js"></script>
<script src="/js/smooth-scrolling.js"></script>
<script src="/js/daterangepicker.js"></script>
<script src="/js/tilt.jquery.min.js"></script>
<script src="/js/main.js"></script>
