{{{ _editable }}}

<div class="section-block"></div>

<!--======================================
        START TAB AREA
======================================-->
<section class="tab-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading text-center">
                    <h5 class="section__meta">download materi</h5>
                    <h2 class="section__title">Download Materi Pembelajaran</h2>
                    <div class="section-divider mx-auto"></div>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row tab-wrap tab-layout tab-layout-2">
            <div class="col-lg-3">
                <div class="tab-list">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="#pertama" role="tab" data-toggle="tab" class="active" aria-selected="true">
                                Pengantar Pembelajaran
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#kedua" role="tab" data-toggle="tab" aria-selected="false">
                                Klaster Kesehatan
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#ketiga" role="tab" data-toggle="tab" aria-selected="false">
                                Hari Ketiga
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#keempat" role="tab" data-toggle="tab" aria-selected="false">
                                Hari Keempat
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#kelima" role="tab" data-toggle="tab" aria-selected="false">
                                Hari Kelima
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#keenam" role="tab" data-toggle="tab" aria-selected="false">
                                Hari Keenam
                            </a>
                        </li>
                    </ul>
                </div><!-- end tab-list -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pertama" role="tabpanel">
                        <div class="tab-item">
                            <h3 class="tab__title">Pembelajaran bagi Pendamping/Penyuluh ODHA</h3>
                            <p class="tab__text">
                                Estimasi jumlah orang dengan HIV di Indonesia pada tahun 2018 adalah sebanyak 641.675 orang dengan jumlah infeksi baru sebanyak 46.372 orang dan kematian sebanyak 38.734 orang (Hasil Pemodelan Spectrum 2019). Terdapat tren jumlah HIV yang selalu meningkat dengan jumlah AIDS relatif stabil sedangkan jumlah kematian akibat AIDS relatif menurun setiap tahunnya (Kemenkes, 2017).
                            </p>

                            <div class="row info-box-wrap pt-5 mt-5">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-video-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Video Pembelajaran</h3>
                                            <p class="info__text">
                                                Berikut adalah video pembelajaran untuk materi ...
                                            </p>

                                            <div class="row video-gallery-wrap">
                                                <!--Frame Video 2-->
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="video-gallery-item">
                                                        <iframe src="file:///D:/Download/Video/Dr%20Lidwina%20Inge%20Nurtjahyo.mp4" width="355" height="220" frameborder="0" scrolling="no" allowfullscreen></iframe>
                                                    </div><!-- end video-gallery-item -->
                                                    <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                                </div><!-- end col-lg-4 -->
                                                <div class="col-lg-6 col-sm-6">
                                                    <div class="video-gallery-item">
                                                        <iframe src="file:///D:/Download/Video/Dr%20Lidwina%20Inge%20Nurtjahyo.mp4" width="355" height="220" frameborder="0" scrolling="no" allowfullscreen></iframe>
                                                    </div><!-- end video-gallery-item -->
                                                    <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                                </div><!-- end col-lg-4 -->
                                            </div><!--Frame Video Pembelajaran-->

                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-powerpoint-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">File Presentasi</h3>
                                            <p class="info__text">
                                                Download file presentasi disini.
                                            </p>
                                            <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-desktop info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Join Classroom</h3>
                                            <p class="info__text">
                                                Klik tautan dibawah ini
                                            </p>
                                            <a href="https://meet.google.com/jfk-puti-rax?authuser=0" class="theme-btn">Join <span class="la la-external-link"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                            </div><!-- end row -->

                        </div>
                    </div><!-- end tab-pane -->
                    <div class="tab-pane fade" id="kedua" role="tabpanel">
                        <div class="tab-item">
                            <h3 class="tab__title">Pembelajaran bagi Pendamping/Penyuluh ODHA</h3>
                            <p class="tab__text">
                                Estimasi jumlah orang dengan HIV di Indonesia pada tahun 2018 adalah sebanyak 641.675 orang dengan jumlah infeksi baru sebanyak 46.372 orang dan kematian sebanyak 38.734 orang (Hasil Pemodelan Spectrum 2019). Terdapat tren jumlah HIV yang selalu meningkat dengan jumlah AIDS relatif stabil sedangkan jumlah kematian akibat AIDS relatif menurun setiap tahunnya (Kemenkes, 2017).
                            </p>
                            <p class="tab__text">
                                Sejak pertama ditemukan tahun 1987, jumlah kematian karena AIDS jauh lebih banyak pada kisaran usia produktif yaitu 20-29 tahun dan 30-39 tahun. Apabila terdapat anak yang mengidap AIDS dan meninggal pada usia 0-14 tahun diduga merupakan hasil dari penularan secara vertikal yaitu dari ibu ke anak dengan demikian upaya pencegahan HIV dari ibu ke anak merupakan langkah pencegahan yang sangat penting untuk dilakukan.
                            </p>

                            <div class="row info-box-wrap pt-5 mt-5">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-video-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Video Pembelajaran</h3>
                                            <p class="info__text">
                                                Berikut adalah video pembelajaran untuk materi ...
                                            </p>

                                            <div class="row video-gallery-wrap">
                                                <!--Frame Video 1-->
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="video-gallery-item">
                                                        <iframe src="file:///D:/Download/Video/Dr%20Lidwina%20Inge%20Nurtjahyo.mp4" width="750" height="490" frameborder="0" scrolling="no" allowfullscreen></iframe>
                                                    </div><!-- end video-gallery-item -->
                                                    <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                                </div><!-- end col-lg-4 -->
                                            </div><!--Frame Video Pembelajaran-->

                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-powerpoint-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">File Presentasi</h3>
                                            <p class="info__text">
                                                Download file presentasi disini.
                                            </p>
                                            <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-desktop info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Join Classroom</h3>
                                            <p class="info__text">
                                                Klik tautan dibawah ini
                                            </p>
                                            <a href="https://meet.google.com/jfk-puti-rax?authuser=0" class="theme-btn">Join <span class="la la-external-link"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                            </div><!-- end row -->

                        </div>
                    </div><!-- end tab-pane -->
                    <div class="tab-pane fade" id="ketiga" role="tabpanel">
                        <div class="tab-item">
                            <h3 class="tab__title">Klaster Kesehatan II</h3>
                            <p class="tab__text">
                                Impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
                                assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                                eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint occaecati
                            </p>
                            <p class="tab__text">
                                accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos
                                dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                            </p>
                            <div class="row info-box-wrap pt-5 mt-5">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-video-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Video Pembelajaran</h3>
                                            <p class="info__text">
                                                Berikut adalah video pembelajaran untuk materi ...
                                            </p>

                                            <div class="row video-gallery-wrap">
                                                <!--Frame Video 1-->
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="video-gallery-item">
                                                        <iframe src="file:///D:/Download/Video/Dr%20Lidwina%20Inge%20Nurtjahyo.mp4" width="750" height="490" frameborder="0" scrolling="no" allowfullscreen></iframe>
                                                    </div><!-- end video-gallery-item -->
                                                    <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                                </div><!-- end col-lg-4 -->
                                            </div><!--Frame Video Pembelajaran-->

                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-powerpoint-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">File Presentasi</h3>
                                            <p class="info__text">
                                                Download file presentasi disini.
                                            </p>
                                            <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-desktop info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Join Webinar</h3>
                                            <p class="info__text">
                                                Ikuti webinar dengan meng-klik link dibawah ini
                                            </p>
                                            <a href="#" class="theme-btn">Join <span class="la la-external-link"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                            </div><!-- end row -->

                        </div>
                    </div><!-- end tab-pane -->
                    <div class="tab-pane fade" id="keempat" role="tabpanel">
                        <div class="tab-item">
                            <h3 class="tab__title">Klaster Psikologi</h3>
                            <p class="tab__text">
                                Cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                                eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            </p>
                            <p class="tab__text">
                                Iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos
                                dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                            </p>
                            <div class="row info-box-wrap pt-5 mt-5">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-video-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Video Pembelajaran</h3>
                                            <p class="info__text">
                                                Berikut adalah video pembelajaran untuk materi ...
                                            </p>

                                            <div class="row video-gallery-wrap">
                                                <!--Frame Video 1-->
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="video-gallery-item">
                                                        <iframe src="file:///D:/Download/Video/Dr%20Lidwina%20Inge%20Nurtjahyo.mp4" width="750" height="490" frameborder="0" scrolling="no" allowfullscreen></iframe>
                                                    </div><!-- end video-gallery-item -->
                                                    <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                                </div><!-- end col-lg-4 -->
                                            </div><!--Frame Video Pembelajaran-->

                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-powerpoint-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">File Presentasi</h3>
                                            <p class="info__text">
                                                Download file presentasi disini.
                                            </p>
                                            <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-desktop info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Join Webinar</h3>
                                            <p class="info__text">
                                                Ikuti webinar dengan meng-klik link dibawah ini
                                            </p>
                                            <a href="#" class="theme-btn">Join <span class="la la-external-link"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                            </div><!-- end row -->

                        </div>
                    </div><!-- end tab-pane -->
                    <div class="tab-pane fade" id="kelima" role="tabpanel">
                        <div class="tab-item">
                            <h3 class="tab__title">Klaster Hukum & HAM</h3>
                            <p class="tab__text">
                                Cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                                eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            </p>
                            <p class="tab__text">
                                Iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos
                                dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                            </p>

                            <div class="row info-box-wrap pt-5 mt-5">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-video-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Video Pembelajaran</h3>
                                            <p class="info__text">
                                                Berikut adalah video pembelajaran untuk materi ...
                                            </p>

                                            <div class="row video-gallery-wrap">
                                                <!--Frame Video 1-->
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="video-gallery-item">
                                                        <iframe src="file:///D:/Download/Video/Dr%20Lidwina%20Inge%20Nurtjahyo.mp4" width="750" height="490" frameborder="0" scrolling="no" allowfullscreen></iframe>
                                                    </div><!-- end video-gallery-item -->
                                                    <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                                </div><!-- end col-lg-4 -->
                                            </div><!--Frame Video Pembelajaran-->

                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-powerpoint-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">File Presentasi</h3>
                                            <p class="info__text">
                                                Download file presentasi disini.
                                            </p>
                                            <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-desktop info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Join Webinar</h3>
                                            <p class="info__text">
                                                Ikuti webinar dengan meng-klik link dibawah ini
                                            </p>
                                            <a href="#" class="theme-btn">Join <span class="la la-external-link"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                            </div><!-- end row -->

                        </div>
                    </div><!-- end tab-pane -->
                    <div class="tab-pane fade" id="keenam" role="tabpanel">
                        <div class="tab-item">
                            <h3 class="tab__title">Klaster Hukum & HAM II serta Klaster Kemasyarakatan</h3>
                            <p class="tab__text">
                                Cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                                eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            </p>
                            <p class="tab__text">
                                Iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos
                                dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                            </p>

                            <div class="row info-box-wrap pt-5 mt-5">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-video-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Video Pembelajaran</h3>
                                            <p class="info__text">
                                                Berikut adalah video pembelajaran untuk materi ...
                                            </p>

                                            <div class="row video-gallery-wrap">
                                                <!--Frame Video 1-->
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="video-gallery-item">
                                                        <iframe src="file:///D:/Download/Video/Dr%20Lidwina%20Inge%20Nurtjahyo.mp4" width="750" height="490" frameborder="0" scrolling="no" allowfullscreen></iframe>
                                                    </div><!-- end video-gallery-item -->
                                                    <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                                </div><!-- end col-lg-4 -->
                                            </div><!--Frame Video Pembelajaran-->

                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-file-powerpoint-o info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">File Presentasi</h3>
                                            <p class="info__text">
                                                Download file presentasi disini.
                                            </p>
                                            <a href="#" class="theme-btn">Download <span class="la la-download"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                                <div class="col-lg-6 col-sm-6">
                                    <div class="info-box-item info-box-item-7">
                                        <div class="info-header">
                                            <span class="la la-desktop info__icon"></span>
                                        </div>
                                        <div class="info-body">
                                            <h3 class="info__title">Join Webinar</h3>
                                            <p class="info__text">
                                                Ikuti webinar dengan meng-klik link dibawah ini
                                            </p>
                                            <a href="#" class="theme-btn">Join <span class="la la-external-link"></span></a>
                                        </div>
                                    </div><!-- end info-box-item info-box-item-7 -->
                                </div><!-- end col-lg-4 -->
                            </div><!-- end row -->

                        </div>
                    </div><!-- end tab-pane -->
                </div><!-- end tab-content -->
            </div><!-- end col-lg-9 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end tab-area  -->
<!--======================================
        END TAB AREA
======================================-->
