{{{ _editable }}}

<div class="section-block"></div>

<!--================================
         START TESTIMONIAL AREA
=================================-->
<section class="testimonial-area section-padding-top text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="section-heading">
                    <h5 class="section__meta">testimonial</h5>
                    <h2 class="section__title">Testimonial</h2>
                    <div class="section-divider mx-auto"></div>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-item-wrap-8 testimonial-carousel-2">
                    <div class="testimonial-item">
                        <div class="testimonial__img">
                            <img src="images/img_sample_9.png" alt="testimonial-image">
                        </div><!-- end testimonial__img -->
                        <div class="testimonial-content">
                            <div class="testimonial-author">
                                <h3 class="author__title">Selena Darsono</h3>
                                <span class="author__meta">Pendamping ODHA</span>
                            </div><!-- end testimonial-author -->
                            <div class="testimonial-desc">
                                <span class="la la-quote-left"></span>
                                <p class="testimonial__desc">
                                    Pendampingan adalah hal yang paling dibutuhkan oleh para ODHA. Modul ini memberitahu kita bagaimana cara mendampingi dengan benar.
                                </p>
                            </div><!-- end testimonial-desc -->
                        </div><!-- end testimonial-content -->
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testimonial-single-item">
                            <div class="testimonial__img">
                                <img src="images/img_sample_10.png" alt="testimonial-image">
                            </div><!-- end testimonial__img -->
                            <div class="testimonial-content">
                                <div class="testimonial-author">
                                    <h3 class="author__title">Sarah Safitri Najib</h3>
                                    <span class="author__meta">Pendamping ODHA</span>
                                </div><!-- end testimonial-author -->
                                <div class="testimonial-desc">
                                    <span class="la la-quote-left"></span>
                                    <p class="testimonial__desc">
                                        Kami berterima kasih atas perhatiannya kepada kami. Semoga dengan adanya modul ini dapat memberikan pemahaman kepada masyarakat luas.
                                    </p>
                                </div><!-- end testimonial-desc -->
                            </div><!-- end testimonial-content -->
                        </div><!-- end testimonial-single-item -->
                    </div><!-- end testimonial-item -->
                    <div class="testimonial-item">
                        <div class="testimonial-single-item">
                            <div class="testimonial__img">
                                <img src="images/img_sample_11.png" alt="testimonial-image">
                            </div><!-- end testimonial__img -->
                            <div class="testimonial-content">
                                <div class="testimonial-author">
                                    <h3 class="author__title">Nigel Ng</h3>
                                    <span class="author__meta">Pendamping ODHA</span>
                                </div><!-- end testimonial-author -->
                                <div class="testimonial-desc">
                                    <span class="la la-quote-left"></span>
                                    <p class="testimonial__desc">
                                        ODHA adalah kita. Mereka berhak diperlakukan seperti orang biasa. Memberikan penyuluhan kepada masyarakat adalah prioritas per…
                                    </p>
                                </div><!-- end testimonial-desc -->
                            </div><!-- end testimonial-content -->
                        </div><!-- end testimonial-single-item -->
                    </div><!-- end testimonial-item -->
                </div><!-- end testimonial-wrap -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end testimonial-area -->
<!--================================
        END TESTIMONIAL AREA
=================================-->
